{{breadcrumbs}}
<section class="quick-links">
  <div class="container">
    <h1>{{category.name}}</h1>
    {{#if category.description}}<p>{{category.description}}</p>{{/if}}
    <div class="cards">
      {{#each sections}}
        <article class="card">
          <h3><a href="{{url}}">{{name}}</a></h3>
        </article>
      {{/each}}
    </div>
  </div>
</section>
