<header class="air-header">
  <div class="container air-header__inner">
    <a class="air-logo" href="{{help_center.url}}">
      <img src="{{asset 'logo-air.svg'}}" alt="AIR">
      <span>AIR Help Center</span>
    </a>

    <nav class="air-nav" aria-label="Navegação principal">
      <a class="air-pill" href="{{help_center.url}}">Início</a>
      <a class="air-pill" href="{{help_center.url}}/hc/{{help_center.locale}}/sections">Categorias</a>
      <a class="air-pill" href="{{help_center.url}}/hc/{{help_center.locale}}/requests/new">Abrir chamado</a>
      {{link 'community' class='air-pill'}}
    </nav>
  </div>
</header>
